.security-list {
  margin-top: 30px;
  &__item {
    &__title {
      --size: 20px;
      @extend .secondary--text;
      font-size: 20px;
      line-height: 24px;
      padding-left: 28px;
      position: relative;
      display: flex;
      align-items: center;
      &::before {
        content: "";
        display: block;
        width: var(--size);
        height: var(--size);
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
      & + .security-list__item__paragraph {
        margin-top: 12px;
      }
      &.eletronica {
        &::before {
          background: url("../images/seg-eletronica.svg") no-repeat;
        }
      }
      &.patrimonial {
        &::before {
          background: url("../images/seg-patrimonial.svg") no-repeat;
        }
      }
      &.armada {
        &::before {
          background: url("../images/seg-armada.svg") no-repeat;
        }
      }
      &.privada {
        &::before {
          background: url("../images/seg-privada.svg") no-repeat;
        }
      }
    }
    &__paragraph {
      line-height: 22px;
    }
    & + .security-list__item {
      margin-top: 20px;
    }
  }
}

.bullet-list {
  padding: 0;
  padding-left: 28px;
  margin: 0;
  margin-top: 20px;
  list-style-image: url("../images/li.svg");
  &__item {
    line-height: 22px;
  }
}
