$retainer: 600px;

$colors: (
  "primary": #68a2d9,
  "secondary": #22456a,
  "grey": #5b5b5f,
  "light-grey": #eeeeee,
  "yellow": #ffcc00,
  "white": #ffffff,
);

:root {
  @each $key, $value in $colors {
    --#{$key}: #{$value};
  }
}

@function color($name) {
  @if not map-get($colors, $name + "") {
    @error "Color `#{$name}` not found in map $colors";
  }
  @return var(--#{unquote($name)});
}

@each $key, $value in $colors {
  .#{$key} {
    background-color: #{$value};
    &--text {
      color: #{$value};
    }
  }
}

html {
  scroll-behavior: smooth;
}

body {
  padding-top: 30px;
  color: color("grey");
  overflow-x: hidden;
  font-family: "gilroy-regular", sans-serif;
}

p {
  padding: 0;
  margin: 0;
}

.full-width {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  display: flex;
  justify-content: center;
  .section {
    width: 100%;
    max-width: $retainer;
    margin-bottom: 1.5rem;
  }
}

.logo {
  width: 188px;
  height: 80px;
  margin: auto;
}

.foto-mock {
  //   width: $retainer;
  width: 100%;
  height: 356px;
  background-color: grey;
}
.foto {
  img {
    width: 100%;
    max-height: 356px;
  }
}

.divider {
  height: 1px;
  margin: 30px 0;
}

@import "responsive";
@import "lists";
@import "sections";
@import "fonts";
